<!DOCTYPE html>

<html lang="en" ng-app="demoApp">
<head>
    <meta charset="utf-8" />
    <title>angular-magicsuggest by leonardochaia</title>
    <!--Favicon From http://www.favicon.cc/?action=icon&file_id=796383 -->
    <link rel="shortcut icon" href="Resources/favicon.ico" type="image/x-icon">
    <link rel="icon" href="Resources/favicon.ico" type="image/x-icon">
    <!--Bootstrap CSS-->
    <link type="text/css" rel="stylesheet" href="Content/bootstrap.min.css" />
    <!--MagicSuggest CSS-->
    <link type="text/css" rel="stylesheet" href="Scripts/magic-suggest/magicsuggest.css" />
    <link rel="stylesheet" href="app.css" type="text/css" />
    <!--jQuery & AngularJs & Bootstrap-->
    <script type="text/javascript" src="Scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="Scripts/angular.min.js"></script>
    <!--MagicSuggest Javascripts-->
    <script type="text/javascript" src="Scripts/magic-suggest/magicsuggest.js"></script>
    <!--Test angular-magicsuggest module-->
    <script type="text/javascript" src="angular-magicsuggest.js"></script>

    <!--Demo Only: MagicSuggest configuration module-->
    <script type="text/javascript" src="ms_config.js"></script>
    <!--Demo Only: test module-->
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
    <div id="fb-root"></div>
    <div class="col-lg-6 col-lg-offset-3" style="margin-bottom:60px">
        <div class="col-lg-12 text-right" style="padding-top: 5px;">
            <div class="fb-like" data-href="http://leonardochaia.github.io/angular-magicsuggest/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
            <a href="https://github.com/leonardochaia/angular-magicsuggest" target="_blank">Github Repo</a>
        </div>
        <h1 class="text-center" style="margin-bottom:20px;">Angular MagicSuggest <small>Typescript</small></h1>
        <p>
            This is the published version of the Typescript demo project in the <code>development</code> branch. It shows a couple of examples and their code.<br />
            <small>Please note that this demo is using an extended version of the <a href="http://nicolasbize.com/magicsuggest/" target="_blank">magicsuggest.js</a> library by Nicolas Bize, that doesn't mean it won't work on the unmodified version.</small>
        </p>

        <div class="well">
            <h4><i class="glyphicon glyphicon-cog"></i> Default Settings</h4>
            <p>You can apply a setting to all configuration objects by declaring a default type</p>
            <code ng-non-bindable>
                <pre>
    msSetupService.pushDefaultConfig({
        loadingImageRenderer: () => {
            return '&lt;div class=&quot;spinner&quot;&gt;&lt;div class=&quot;rect1&quot;&gt;&lt;/div&gt;&lt;div class=&quot;rect2&quot;&gt;&lt;/div&gt;&lt;div class=&quot;rect3&quot;&gt;&lt;/div&gt;&lt;div class=&quot;rect4&quot;&gt;&lt;/div&gt;&lt;div class=&quot;rect5&quot;&gt;&lt;/div&gt;&lt;/div&gt;';
        },
        loadingImageSize: 60,
    });
</pre>
            </code>
        </div>

        <!--Simple JSON Example-->
        <div class="well" style="margin-top:15px">
            <h4><i class="glyphicon glyphicon-th-list"></i> Hardcodded array</h4>
            <p>This example uses a hardcodded array in the setup configuration. Useful for enums, and constants.</p>
            <p>
                <magic-suggest type="testConfig" ng-model="test.config" />
            </p>
            <p><small>ngModel: {{test.config ? (test.config | json) : 'undefined'}}</small></p>
            <p>
                <a href="" data-toggle="collapse" data-target="#codeTestConfig">Code</a>
            </p>
            <div class="collapse" id="codeTestConfig">
                <p>
                    Setup configuration declaration
                    <code>
<pre>msSetupService.pushConfig("testConfig", {
        data: [
            { id: 1, name: "Johnny Depp" },
            { id: 2, name: "Will Smith" },
            { id: 3, name: "Al Pacino" },
            { id: 4, name: "Morgan Freeman" },
            { id: 5, name: "Christian Bale" },
            { id: 6, name: "Robert Downey Jr." },
            { id: 7, name: "Leonardo DiCaprio" },
        ],
        placeholder: 'Famous actors',
    });</pre>
                    </code>
                </p>
                <p>
                    Directive implementation
                    <code ng-non-bindable>
<pre>&lt;magic-suggest type="testConfig" ng-model="test.config"/&gt;</pre>
                    </code>
                </p>
            </div>
        </div>

        <!--Google Geocoding API-->
        <div class="well">
            <h4><i class="glyphicon glyphicon-map-marker"></i> Google Geocoding api</h4>
            <p>This example fetches data from the Google Geocoding API.</p>
            <p>
                <magic-suggest type="testExternalConfig" ng-model="test.external.config" />
            </p>
            <p>
                <a href="" data-toggle="collapse" data-target="#codeTestExternalConfig">Code</a>
            </p>
            <div class="collapse" id="codeTestExternalConfig">
                <p>
                    Setup configuration declaration
                    <code>
<pre>msSetupService.pushConfig("testExternalConfig", {
        data: 'http://maps.googleapis.com/maps/api/geocode/json',
        method: 'GET',
        queryParam: 'address',
        renderer: (val) => {
            return val.formatted_address;
        },
        selectionRenderer: (val) => {
            return val.formatted_address;
        },
        valueField: 'place_id',
        mode: 'remote',
        useCommaKey: false,
        resultsField: 'results',
        placeholder: 'Type a street, like First Avenue',
    });</pre>
                    </code>
                </p>
                <p>
                    Directive implementation
                    <code ng-non-bindable>
<pre>&lt;magic-suggest type="testExternalConfig" ng-model="test.external.config" /&gt;</pre>
                    </code>
                </p>
            </div>
        </div>

        <!--Single Selection Example-->
        <div class="well" style="margin-top:15px">
            <h4><i class="glyphicon glyphicon-modal-window"></i> maxSelection: 1</h4>
            <p>If you set <code>maxSelection</code> to one, the directive will set the <code>ngModel</code> value to an object, instead of an array.</p>
            <p>
                <magic-suggest type="testSingleSelection" ng-model="test.singleSelection" />
            </p>
            <p><small>ngModel: {{test.singleSelection ? (test.singleSelection | json) : 'undefined'}}</small></p>
            <p>
                <a href="" data-toggle="collapse" data-target="#codeTestSingleSelection">Code</a>
            </p>
            <div class="collapse" id="codeTestSingleSelection">
                <p>
                    Setup configuration declaration
                    <code>
<pre>msSetupService.pushConfig("testSingleSelection", {
        data: [
            { id: 1, name: "Ford" },
            { id: 2, name: "Fiat" },
            { id: 3, name: "Peugeot" },
        ],
        maxSelection: 1,
        placeholder: 'Car Brands',
    });</pre>
                    </code>
                </p>
                <p>
                    Directive implementation
                    <code ng-non-bindable>
<pre>&lt;magic-suggest type="testSingleSelection" ng-model="test.singleSelection"/&gt;</pre>
                    </code>
                </p>
            </div>
        </div>

        <!--Attribute params Example-->
        <div class="well" style="margin-top:15px">
            <h4><i class="glyphicon glyphicon-cog"></i> Overriding parameters</h4>
            <p>
                <code>Default parameters</code> are overriden by <code>type parameters</code>, type parameters are overriden by <code>attribute parameters</code>. <br />
                You can declare attribute parameters, by adding them as atributes to your <code>magic-suggest</code> element.
            </p>
            <p>
                <magic-suggest type="testConfig" ng-model="test.configParams" placeholder="Famous actors overriden" hide-trigger="true" expand-on-focus="true" />
            </p>
            <p>
                Note the added attributes. The type configuration <code>placeholder</code> is overriden by the attribute parameter. <br />
                Since the <code>hideTrigger</code> parameter does not exist in the configuration object, it's added only to that instance. <br />
                The same for the <code>expandOnFocus</code>, it's added only to that instance.
            </p>
            <p>
                <a href="" data-toggle="collapse" data-target="#codeTestAttrParams">Code</a>
            </p>
            <div class="collapse" id="codeTestAttrParams">
                <p>
                    Setup configuration declaration
                    <code>
<pre>msSetupService.pushConfig("testConfig", {
        data: [
            { id: 1, name: "Johnny Depp" },
            { id: 2, name: "Will Smith" },
            { id: 3, name: "Al Pacino" },
            { id: 4, name: "Morgan Freeman" },
            { id: 5, name: "Christian Bale" },
            { id: 6, name: "Robert Downey Jr." },
            { id: 7, name: "Leonardo DiCaprio" },
        ],
        placeholder: 'Famous actors',
    });</pre>
                    </code>
                </p>
                <p>
                    Directive implementation
                    <code ng-non-bindable>
<pre>&lt;magic-suggest type="testConfig" ng-model="test.configParams" placeholder="Famous actors overriden"
    hide-trigger="true" expand-on-focus="true" /&gt;</pre>
                    </code>
                </p>
            </div>
        </div>

        <!--Facebook Comments-->
        <div class="well">
            <div class="fb-comments" data-href="http://leonardochaia.github.io/angular-magicsuggest/" data-numposts="5" data-colorscheme="light"></div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-center">
                by Leonardo Chaia <br />
                <a href="https://github.com/leonardochaia/" target="_blank">github.com/leonardochaia</a>
            </p>
        </div>
    </footer>
    <!--Facebook SDK-->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1669710619917392',
                xfbml: true,
                version: 'v2.3'
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>
